@font-face {
    font-family: 'montecarloregular';
    src: url('font/montecarlo-regular-webfont.woff2') format('woff2'),
        url('font/montecarlo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Outfit';
    src: url('font/Outfit-Thin.woff2') format('woff2'),
        url('font/Outfit-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

body {
    font-size: 16px;
    margin: 0;
}

header figure {
    size: 25%;
}

/* header + nav*/
header {
    background: linear-gradient(to left, #C5A744, 80%, #D2BD65);

}

nav {
    background-color: #C5A744;
    border: solid;
    border-width: 5px 0;
    border-color: #A8804D;
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: center;
}

nav h3 {
    position: absolute;
    left: 0.5em;
}

header a {
    display: flex;
    border: solid;
    border-color: #A8804D;
    padding: 6px 3em;
    background-color: #D2BD65;
    width: 6em;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 1.5em;
}

header figure img {
    position: absolute;
    height: 150px;
    width: auto;
    margin: 0;
    left: 10px;
    top: 10px;
}

.titre_et_logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

/* titres */
h1 {
    font-family: 'montecarloregular';
    font-size: 6em;
    font-weight: 100;
    margin: 0.3em;
}

h2 {
    font-family: 'Outfit';
    font-size: 3em;
    font-weight: bold;
}

h3 {
    font-size: 1.5em;
}

main h3 {
    background-color: #C5A744;
    border-radius: 20px;
    padding: 1em;
    margin: 1em;
}

h4 {
    font-size: 1.25em;

}

/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #C5A744;
}



/* bloc article*/
article {
    background-color: #D2BD65;
    border-radius: 40px;
    padding: 2em;
    margin: 2em 2em 4em 2em;
    box-shadow: 8px 5px 5px #A8804D;
}

details summary {
    list-style: none;
}

main img {
    border-radius: 40px;
}

figure {
    margin: 0;
}


/*imgDroite pour les articles avec image a droite*/
/*!!! regroupez le texte et le titre dans un div !!!*/

@media (min-width: 640px) {

    .imgDroite,
    .imgDroiteGrand,
    .imgDroiteMoyen {
        display: flex;
        flex-direction: row;
        padding: 0;
        height: 20em;
    }

    .imgDroite img {
        height: 20em;
        width: auto;
    }

    .imgDroite div,
    .imgDroiteGrand div,
    .imgDroiteMoyen div {
        margin: 0 1em 1em 1em;
    }

    .imgDroiteGrand,
    .imgDroiteGrand img {
        height: 50em;
    }

    .imgDroiteMoyen,
    .imgDroiteMoyen img {
        height: 25em;
    }
}

@media (max-width: 640px) {
    /* VERSION MOBILE*/

    .imgDroite,
    .imgDroiteGrand,
    .imgDroiteMoyen {
        display: flex;
        flex-direction: column;
        padding: 0;
        height: auto;
        width: 35em;
        margin: 2em auto 2em auto;
    }

    .imgDroiteGrand,
    .imgDroiteGrand img {
        height: auto;
        width: 35em;
    }

    .imgDroite div,
    .imgDroiteGrand div,
    .imgDroiteMoyen div {
        padding: 0 1em 1em 1em;
    }

    .imgDroiteMoyen,
    .imgDroiteMoyen img {
        height: auto;
        width: 35em;
    }
}


/*imgDroite pour les articles avec image a gauche*/
/*!!! regroupez le texte et le titre dans un div !!!*/

@media (min-width: 640px) {

    .imgGauche,
    .imgGaucheGrand,
    .imgGaucheMoyen {
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        padding: 0;
        height: 20em;
    }

    .imgGauche img {
        height: 20em;
        width: auto;
    }

    .imgGauche div,
    .imgGaucheGrand div,
    .imgGaucheMoyen div {
        margin: 0 1em 1em 1em;
    }

    .imgGaucheGrand,
    .imgGaucheGrand img {
        height: 50em;
    }

    .imgGaucheMoyen,
    .imgGaucheMoyen img {
        height: 25em;
    }
}

@media (max-width: 640px) {
    /* VERSION MOBILE*/

    .imgGauche,
    .imgGaucheGrand,
    .imgGaucheMoyen {
        display: flex;
        justify-content: flex-end;
        flex-direction: column-reverse;
        padding: 0;
        height: auto;
        width: 35em;
        margin: 2em auto 2em auto;
    }

    .imgGauche img {
        height: auto;
        width: 35em;
    }

    .imgGaucheGrand,
    .imgGaucheGrand img {
        height: auto;
        width: 35em;
    }

    .imgGaucheMoyen,
    .imgGaucheMoyen img {
        height: auto;
        width: 35em;
    }

    .imgGauche div,
    .imgGaucheGrand div,
    .imgGaucheMoyen div {
        padding: 0 1em 1em 1em;
    }
}

/*Centrage des blocs*/
@media (min-width: 640px) {
    .centre {
        margin: 0 15% 0 15%;
    }
}



/*Menu ouvrant*/

summary h3 {
    background-color: #D2BD65;
    padding: 0;
    margin: 0;
}

summary {
    display: flex;
    justify-content: space-between;
}


/*Galerie photo*/
.galerie {
    display: flex;
    gap: 1em;
    overflow-x: auto;
    padding-bottom: 1em;
    margin: 1.5em;
}

.galerie img {
    border-radius: 0;
}