@font-face {
    font-family: 'montecarloregular';
    src: url('font/montecarlo-regular-webfont.woff2') format('woff2'),
         url('font/montecarlo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
    font-size: 16px;
}


header {
    background: linear-gradient(to left, #C5A744, 80%, #D2BD65);

}
nav{
    background-color: #C5A744;
    border: solid;
    border-width: 5px 0;
    border-color: #A8804D;
    display: flex;
    padding: 10px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul li{
    display: inline-block;
    border: solid;
    border-color: #A8804D;
    margin: 10px;
    padding: 4px 12px;
    background-color: #D2BD65;
}
h1{
    font-family: 'montecarloregular';
    font-size: 3em;
    margin: 10px;
    display: flex;
    justify-content: center;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color:#C5A744;
}