@font-face {
    font-family: 'montecarloregular';
    src: url('font/montecarlo-regular-webfont.woff2') format('woff2'),
        url('font/montecarlo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Outfit';
    src: url('font/Outfit-Thin.woff2') format('woff2'),
        url('font/Outfit-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

body {
    font-size: 16px;
    margin: 0;
}

header figure {
    size: 25%;
}

header {
    background: linear-gradient(to left, #C5A744, 80%, #D2BD65);

}

nav {
    background-color: #C5A744;
    border: solid;
    border-width: 5px 0;
    border-color: #A8804D;
    display: flex;
    padding: 10px;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul li {
    display: flex;
    border: solid;
    border-color: #A8804D;
    margin-left: 100px;
    padding: 6px 3em;
    background-color: #D2BD65;
    width: 200px;
    justify-content: center;
    text-decoration: none;

}

h1 {
    font-family: 'montecarloregular';
    font-size: 6em;
    font-weight: 100;
    margin: 0.3em;
}

h2 {
    font-family: 'Outfit';
    font-size: 2em;
    font-weight: bold;
}

h3 {
    font-size: 1.5em;
}

main h3 {
    background-color: #C5A744;
    border-radius: 20px;
    padding: 1em;
    margin: 1em;
}

h4 {
    font-size: 1.25em;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #C5A744;
}

header figure img {
    position: absolute;
    height: 150px;
    width: auto;
    margin: 0;
    left: 10px;
    top: 10px;
}

.titre_et_logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

article {
    background-color: #D2BD65;
    border-radius: 40px;
    padding: 2em;
    margin: 2em;
    box-shadow: 8px 5px 5px #A8804D;
}

details summary {
    list-style: none;
}

main img{
    border-radius: 40px;
}