main h2{display: flex;
width: 10em;
height: 2em;
justify-content: center;
align-items: center;
background-color:#C5A744;
padding: 0 2em 0 2em;
margin: 1em auto 1em auto;
border-radius: 20px;
}

article img{
    height: 35em;
    width: auto;
}

article figure{
    display: flex;
    margin: 0;
    justify-content: flex-end;
    align-content: flex-start;
}

h3{
    width: 20em;
}

article div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

article{
    display: flex;
    padding: 0;
    flex-direction: row ;
}

article h4{
    align-self: flex-start;
    width: auto;
}

div {
    display: flex;
    justify-content: center;
    align-content: center;
}
div h3{
    display: flex;
    justify-content: center;
}
.centre{
    display: flex;
}
div h4{
margin: 0 auto 0 2em;
}