img {
  width: 30%;
  height: 300px;
}

main h3 {
  width: 7em;
  display: flex;
  justify-content: center;
}

.droite{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.droite img{
  height: 25em;
  width: auto;
  margin-left: 5px;
}
.gauche{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.gauche img{
  width: 25em;
  order: -1;
}

article div p{
  padding: 1.5em;
  margin-left: 1em;
}
