img {
  width: 30%;
  height: 300px;
}

.droite{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.droite img{
  width: 300px;
  margin-left: 20px;
}



/* 
article img {
  float: right;
  margin-left: 20px;
  width: 300px;
} */