img {
  width: 30%;
  height: 300px;
}

main h3 {
  width: 7em;
  display: flex;
  justify-content: center;
}

/* main section p{
    font-size: 0.75em;
} */

article div p{
  padding: 1.5em;
  margin-left: 1em;
  font-size: 0.75em;
}
