main h2{
    font-size: 2em;
    width: 30em;
    display: flex;
    background-color: #C5A744;
    border-radius: 20px;
    padding: 0.5em ;
    margin: 0 auto 3em auto;
    justify-content: center;
    font-weight: bold;
}
article h3{
    display: flex;
    justify-content: center;
    padding: 1em 0 1em 0;
    width: auto;
}

article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.texte{
    padding: 0 0 0 2em;
}

.localisation{
    height: 35em;
}


summary {
    display: flex;
    justify-content: space-between;
}   

summary h3 {
    padding: 0 1em;
    margin: 0;
}

.evenement{
    padding: 1em;
}