/*Liste des films*/

summary h3 {
    background-color: #D2BD65;
    padding: 0;
    margin: 0;
}

summary {
    display: flex;
    justify-content: space-between;
}


/*Galerie */
.galerie {
    display: flex;
    gap: 1em;
    overflow-x: auto;
    padding-bottom: 1em;
    margin: 1.5em;
}

.galerie img {
    border-radius: 0;
}

h2 {
    text-align: center;
}


/*Article Pape Francois*/

.PapeFrancois {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.PapeFrancois img {
    height: 100%;
    width: auto;
    order: -1;
}

.PapeFrancois h4 {
    order: 1;
}

.PapeFrancois div{
    margin: 0 0 0 1em;
}

.PapeFrancois p {
    order: 2;
    align-self: flex-end;
}


article figure {
    margin: 0;
}

.Histoire {
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 20em;
}

.Histoire img {
    height: 20em;
    width: auto;  
}

.Histoire div{
    margin: 0 1em 1em 1em;
}

.Notable {
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 20em;
}

.Notable img {
    height: 20em;
    width: auto;  
}

.Notable div{
    margin: 0 1em 1em 1em;
}

p{
    font-size: 0.75em;
}