/*Liste des films*/

summary h3 {
    background-color: #D2BD65;
    padding: 0;
    margin: 0;
}

summary {
    display: flex;
    justify-content: space-between;
}


/*Galerie */
.galerie {
    display: flex;
    gap: 1em;
    overflow-x: auto;
    padding-bottom: 1em;
    margin: 1.5em;
}

.galerie img {
    border-radius: 0;
}

h2 {
    text-align: center;
}

article figure {
    margin: 0;
}

/*Article Pape Francois*/

.imgDroite {
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 20em;
}

.imgDroite img {
    height: 20em;
    width: auto;  
}

.imgDroite div{
    margin: 0 1em 1em 1em;
}

.imgGauche {
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 20em;
}

.imgGauche img {
    height: 20em;
    width: auto;  
}

.imgGauche div{
    margin: 0 1em 1em 1em;
}

main section p{
    font-size: 0.75em;
}