/*Liste des films*/

summary h3 {
    background-color: #D2BD65;
    padding: 0;
    margin: 0;
}

summary {
    display: flex;
    justify-content: space-between;
}


/*Galerie */
.galerie {
    display: flex;
    gap: 1em;
    overflow-x: auto;
    padding-bottom: 1em;
    margin: 1.5em;
}

.galerie img {
    border-radius: 0;
}


/*titre en h2*/
h2 {
    text-align: center;
}