summary h3{
    background-color: #D2BD65;
    padding: 0;
    margin: 0;
}


.galerie{
    display: flex;
    gap: 1em;
    overflow-x: auto;
    padding-bottom: 1em;
    margin: 1.5em;
}

.galerie img{
    border-radius: 0;
}