summary h3{
    background-color: #D2BD65;
    padding: 0;
    margin: 0;
}


.galerie{
    display: flex;
    gap: 1em;
    overflow-x: auto;
    padding-bottom: 1em;
    margin: 1.5em;
}

.galerie img{
    border-radius: 0;
}

h2{
    text-align: center;
}

summary{
    display: flex;
    justify-content: space-between;
}


.PapeFrancois{
    display: flex;
    flex-direction: row;
    padding: 0;
}

.PapeFrancois img{
    height: 100%;
    width: auto;
    order: -1;
    margin: 0 1em 0 0 ;
    
}

.PapeFrancois h4{
    order: 1;
}

.PapeFrancois p{
    order: 2;
    align-self: flex-end;
}

article figure {
    margin: 0;
}